<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="APP_NAME" source="spring.application.name" />
    <springProperty scope="context" name="LOG_TEMP" source="log.home" defaultValue="/data/logs/${APP_NAME}" />
    <property name="LOG_PATH" value="${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}"/>
    <property name="FILE_LOG_PATTERN" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%X{tid}] [%thread] [%-5level] [%-40.36logger{40}:%-4.4line] - %msg%n"/>
    <property name="CONSOLE_LOG_PATTERN" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [${PID:- }] [%X{tid}] [%thread]  [%-5level] [%-40.36logger{40}:%-4.4line] - %msg%n"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>


    <logger name="druid" level="DEBUG" />
    <logger name="executableSql" level="DEBUG" />
    <logger name="com.alibaba.druid.filter.stat" level="INFO" />
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </layout>
    </appender>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
    <springProfile name="uat,prod">
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_PATH}/app.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_PATH}/app-%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </encoder>
        </appender>
        <appender name="SQL_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_PATH}/sql.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_PATH}/sql-%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </encoder>
        </appender>
        <appender name="SLOW_SQL_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_PATH}/sql-slow.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_PATH}/sql-slow-%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </encoder>
        </appender>

        <!-- 异步输出 -->
        <appender name ="ASYNC_FILE" class= "ch.qos.logback.classic.AsyncAppender">
            <!-- 是否阻塞，避免引起业务线程阻塞 -->
            <neverBlock>true</neverBlock>
            <!-- 不丢失日志.默认如果队列的80%已满(<discardingThreshold >20</discardingThreshold>),则会丢弃       TRACT、DEBUG、INFO级别的日志 -->
            <discardingThreshold >0</discardingThreshold>
            <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
            <queueSize>1024</queueSize>
            <!-- 添加附加的appender,最多只能添加一个 -->
            <appender-ref ref ="FILE"/>
        </appender>


        <logger name="druid" level="DEBUG" additivity="false">
            <appender-ref ref="SQL_FILE"/>
        </logger>
        <logger name="executableSql" level="DEBUG" additivity="false">
            <appender-ref ref="SQL_FILE"/>
        </logger>
        <logger name="com.alibaba.druid.filter.stat" level="INFO" additivity="false">
            <appender-ref ref="SLOW_SQL_FILE"/>
        </logger>
        <root level="INFO">
            <appender-ref ref="ASYNC_FILE"/>
        </root>
    </springProfile>
</configuration>